In [6]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [7]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

In [10]:
len(titles)

222740

In [17]:
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [19]:
h = titles.head(10)

### What are the earliest two films listed in the titles dataframe?

In [43]:
titles.sort('year')[:2]

/Users/rtindru/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                                                 title  year
170337                                      Miss Jerry  1894
119412  Reproduction of the Corbett and Jeffries Fight  1899

In [29]:
titles[titles.year > 1990]

                                          title  year
2                              Crucea de piatra  1993
3                                       Country  2000
4                                    Gaiking II  2011
5                                   Medusa (IV)  2015
6                The Fresh Air Will Do You Good  2008
9                        Do Outro Lado do Mundo  2008
11                                Slave by Name  2017
13                     Poka Makorer Ghar Bosoti  1996
16                                   Panic Room  2002
18                       Shobhna's Seven Nights  2012
20                             Maa Durga Shakti  1999
22                               Passenger Side  2009
24                         Conflict of Interest  1993
25                                The Syndicate  2011
28                        Tera Mera Saath Rahen  2001
29      The Majestic Life of Queen Elizabeth II  2013
30                                   Velvet Rut  2012
31                                   Dreamscape  2011
32                                  Der Brocken  1992
33                                    The Court  1998
35                                Meigui xuanwo  2000
36                                    Dom vetra  2011
38                                     Safe Sex  1999
39                                    Northfork  2003
41                                    Incognita  2012
45                                Schadenfreude  2016
46                                       Stolen  2012
47                            Piliste Palukutha  2003
49                          Sabse Bada Be-Imaan  2000
50                             Tin dei hung sam  1997
...                                         ...   ...
222687                         The Marrying Man  1991
222689                                  Club 60  2013
222690                                    Happi  2010
222691                  Garak market Revolution  2015
222692                     Kecil-Kecil cili api  1996
222694                          Gladiator Games  2010
222698                                     Beck  2010
222699                         Mumbai Mid-Night  2003
222700                              Terrorist 2  1997
222702                   Have Love, Will Travel  2007
222703           Towa no Quon 3: Mugen no Renza  2011
222704                                Heartless  2014
222706                            Fred & Vinnie  2011
222708               Diary of a Mad Black Woman  2005
222709                   The Second Coming (IV)  2014
222710                   The Minister of Chance  2016
222711                       Bangkok Love Story  2007
222714            The Legend of Kate Kensington  2015
222716                        Time of the Comet  2008
222718                      Monsters University  2013
222719                    This Killing Business  2013
222720       Berlina - Eine Reise ins Ungewisse  1991
222725                           Den sidste dag  2004
222727                   Le temps de l'aventure  2013
222728                     Dead Rising: Endgame  2016
222731              Clara no es nombre de mujer  2012
222732                                  Benzina  2001
222736                                    E yue  2005
222737                             Lakota Girls  2015
222738                           Kroniki domowe  1997

[119263 rows x 2 columns]

In [33]:
titles[(titles.year > 1990) | (titles.year < 1800)]

                                          title  year
2                              Crucea de piatra  1993
3                                       Country  2000
4                                    Gaiking II  2011
5                                   Medusa (IV)  2015
6                The Fresh Air Will Do You Good  2008
9                        Do Outro Lado do Mundo  2008
11                                Slave by Name  2017
13                     Poka Makorer Ghar Bosoti  1996
16                                   Panic Room  2002
18                       Shobhna's Seven Nights  2012
20                             Maa Durga Shakti  1999
22                               Passenger Side  2009
24                         Conflict of Interest  1993
25                                The Syndicate  2011
28                        Tera Mera Saath Rahen  2001
29      The Majestic Life of Queen Elizabeth II  2013
30                                   Velvet Rut  2012
31                                   Dreamscape  2011
32                                  Der Brocken  1992
33                                    The Court  1998
35                                Meigui xuanwo  2000
36                                    Dom vetra  2011
38                                     Safe Sex  1999
39                                    Northfork  2003
41                                    Incognita  2012
45                                Schadenfreude  2016
46                                       Stolen  2012
47                            Piliste Palukutha  2003
49                          Sabse Bada Be-Imaan  2000
50                             Tin dei hung sam  1997
...                                         ...   ...
222687                         The Marrying Man  1991
222689                                  Club 60  2013
222690                                    Happi  2010
222691                  Garak market Revolution  2015
222692                     Kecil-Kecil cili api  1996
222694                          Gladiator Games  2010
222698                                     Beck  2010
222699                         Mumbai Mid-Night  2003
222700                              Terrorist 2  1997
222702                   Have Love, Will Travel  2007
222703           Towa no Quon 3: Mugen no Renza  2011
222704                                Heartless  2014
222706                            Fred & Vinnie  2011
222708               Diary of a Mad Black Woman  2005
222709                   The Second Coming (IV)  2014
222710                   The Minister of Chance  2016
222711                       Bangkok Love Story  2007
222714            The Legend of Kate Kensington  2015
222716                        Time of the Comet  2008
222718                      Monsters University  2013
222719                    This Killing Business  2013
222720       Berlina - Eine Reise ins Ungewisse  1991
222725                           Den sidste dag  2004
222727                   Le temps de l'aventure  2013
222728                     Dead Rising: Endgame  2016
222731              Clara no es nombre de mujer  2012
222732                                  Benzina  2001
222736                                    E yue  2005
222737                             Lakota Girls  2015
222738                           Kroniki domowe  1997

[119263 rows x 2 columns]

### How many movies have the title "Hamlet"?

In [48]:
t = titles
t[t['title'] == 'Hamlet'].sort('year').tail()

/Users/rtindru/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

         title  year
168728  Hamlet  2009
198915  Hamlet  2011
214352  Hamlet  2014
38514   Hamlet  2015
26914   Hamlet  2016

In [117]:
len(t[t['title']== 'Hamlet'])

19

### How many movies are titled "North by Northwest"?

In [50]:
len(t[t['title'] == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [59]:
t[t['title'] == 'Hamlet'].sort('year')[0:1]

/Users/rtindru/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

        title  year
44824  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [60]:
t[t['title'] == 'Treasure Island'].sort('year')

/Users/rtindru/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                  title  year
197443  Treasure Island  1918
49194   Treasure Island  1920
183066  Treasure Island  1934
92940   Treasure Island  1950
57185   Treasure Island  1972
106806  Treasure Island  1973
196841  Treasure Island  1985
171878  Treasure Island  1999

### How many movies were made in the year 1950?

In [61]:
len(t[t.year == 1950])

1077

### How many movies were made in the year 1960?

In [62]:
len(t[t.year == 1960])

1486

### How many movies were made from 1950 through 1959?

In [63]:
len(t[(t.year >= 1950) & (t.year <= 1959)])

12292

### In what years has a movie titled "Batman" been released?

In [65]:
t[t.title == 'Batman']

        title  year
53712  Batman  1989
71557  Batman  1943

### How many roles were there in the movie "Inception"?

In [66]:
len(cast[cast.title == 'Inception'])

76

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [71]:
len(cast[(cast.title == 'Inception') & (cast.n.isnull())])

25

### But how many roles in the movie "Inception" did receive an "n" value?

In [73]:
(cast[(cast.title == 'Inception') & (cast.n.notnull())])

,title,year,name,type,character,n
136900,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
169355,Inception,2010,Tom Berenger,actor,Browning,8.0
239899,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
302083,Inception,2010,Michael Caine,actor,Miles,11.0
308240,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
401194,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
411071,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
479189,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
547282,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
657680,Inception,2010,Russ Fega,actor,Cab Driver,23.0
683744,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
749290,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
753247,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
771586,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
772802,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
797353,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
844442,Inception,2010,Lukas Haas,actor,Nash,12.0
872643,Inception,2010,Tom Hardy,actor,Eames,4.0
897262,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1085700,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
1213775,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1349137,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1498461,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1501112,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1547182,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1577912,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1679779,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1692689,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1725341,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1738815,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1898883,Inception,2010,Felix Scott,actor,Businessman,46.0
2084662,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2100146,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2228502,Inception,2010,Ken Watanabe,actor,Saito,5.0
2418180,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2554107,Inception,2010,Marion Cotillard,actress,Mal,9.0
2563531,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2591454,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2703799,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2703807,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
2899409,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
2905702,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
2945665,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
2965768,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3071181,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3085749,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3110136,Inception,2010,Ellen Page,actress,Ariadne,3.0
3161541,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3186717,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3193103,Inception,2010,Talulah Riley,actress,Blonde,25.0
3417239,Inception,2010,Shannon Welles,actress,Old Mal,51.0

In [74]:
len(cast[(cast.title == 'Inception') & (cast.n.notnull())])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [75]:
cast[(cast.title == 'North by Northwest') & (cast.n.notnull())].sort('n')

/Users/rtindru/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
807986,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3227236,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1350631,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2904145,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
329945,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2807778,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1571872,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1181498,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2266506,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1679114,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
617158,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2126281,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
430103,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1398545,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
190080,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1283317,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [130]:
%%time
cast[(cast.title == 'Sleuth')].sort('n')

CPU times: user 178 ms, sys: 2.84 ms, total: 181 ms
Wall time: 182 ms

/Users/rtindru/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
302112,Sleuth,2007,Michael Caine,actor,Andrew,1.0
1581118,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
302111,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
1198667,Sleuth,2007,Jude Law,actor,Milo,2.0
345981,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1674079,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3.0
1358241,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2516973,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1342879,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
240002,Sleuth,2007,Kenneth Branagh,actor,Other Man on T.V.,NaN
345982,Sleuth,2007,Alec (II) Cawthorne,actor,Inspector Doppler,NaN
2516972,Sleuth,2007,Eve (II) Channing,actress,Marguerite Wyke,NaN
3095322,Sleuth,2007,Carmel O'Sullivan,actress,Maggie,NaN

In [137]:
%%time
c = cast.set_index(['title', 'year']).sort_index()
print c.head()

                                    name   type               character     n
title            year
#1 Serial Killer 2013      Michael Alton  actor       Detective Roberts  17.0
                 2013         Aaron Aoki  actor      Plastic Bag Victim  21.0
                 2013  Zachary (X) Brown  actor  Africian American Teen  18.0
                 2013     Yvis Cannavale  actor            Homeless Man  25.0
                 2013      Patrick Chien  actor          Cleaver Victim  22.0
CPU times: user 8.44 s, sys: 685 ms, total: 9.13 s
Wall time: 9.4 s

In [138]:
%%time 
c.loc['Star Wars']

CPU times: user 90.9 ms, sys: 32.7 ms, total: 124 ms
Wall time: 126 ms

,name,type,character,n
year,,,,
1977,David Ankrum,actor,Red Two,NaN
1977,Graham Ashley,actor,Gold Five,23.0
1977,Mark (III) Austin,actor,Boba Fett (special edition),NaN
1977,Kenny Baker,actor,R2-D2,7.0
1977,Scott Beach,actor,Stormtrooper,NaN
1977,Lightning Bear,actor,Stormtrooper,NaN
1977,Jon Berg,actor,Cantina Alien,NaN
1977,Doug Beswick,actor,Cantina Alien,NaN
1977,Paul (II) Blake,actor,Greedo,NaN
1977,Phil Brown,actor,Uncle Owen,11.0
1977,Ted Burnett,actor,Wuher,NaN
1977,Eddie Byrne,actor,General Willard,15.0
1977,John (V) Chapman,actor,Drifter (Red 12),NaN
1977,Tim Condren,actor,Stormtrooper,NaN
1977,Barry Copping,actor,Wioslea,NaN
1977,Alfie Curtis,actor,Dr. Evazan,NaN
1977,Peter Cushing,actor,Grand Moff Tarkin,4.0
1977,Anthony Daniels,actor,C-3PO,6.0
1977,Robert (V) Davies,actor,Cantina Patron,NaN
1977,Robert A. Denham,actor,Hrchek Kal Fas,NaN
1977,Frazer Diamond,actor,Jawa,NaN
1977,Peter Diamond,actor,Stormtrooper,NaN
1977,Peter Diamond,actor,Tusken Raider,NaN
1977,Peter Diamond,actor,Death Star Trooper,NaN
1977,Peter Diamond,actor,Garouf Lafoe,NaN
1977,Warwick Diamond,actor,Jawa,NaN
1977,Harry Fielder,actor,Death Star Trooper,NaN
1977,Harrison Ford,actor,Han Solo,2.0
1977,Ted Gagliano,actor,Stormtrooper with Binoculars,NaN
1977,Salo Gardner,actor,Cantina Patron,NaN
...,...,...,...,...
1977,Malcolm Tierney,actor,Lt. Shann Childsen,NaN
1977,Phil Tippett,actor,Cantina Alien,NaN
1977,Frances Alfred Basil Tomlin,actor,BoShek,NaN
1977,Burnell Tucker,actor,Del Goren,NaN
1977,Morgan Upton,actor,Stormtrooper,NaN
1977,Jerry Walter,actor,Stormtrooper,NaN
1977,Hal Wamsley,actor,Jawa,NaN
1977,Larry (III) Ward,actor,Greedo,NaN
1977,Harold Weed,actor,Ketwol,NaN
1977,Harold Weed,actor,Melas,NaN
1977,Bill Weston,actor,Stormtrooper,NaN
1977,Steve 'Spaz' Williams,actor,Mos Eisley Citizen (special edition),NaN
1977,Fred Wood,actor,Cantina Patron,NaN
1977,Janice Burchette,actress,Nabrun Leids,NaN
1977,Gilda Cohen,actress,Cantina Patron,NaN
1977,Maria De Aragon,actress,Greedo,NaN
1977,Sadie Eden,actress,Garindan,NaN
1977,Kim Falkinburg,actress,Djas Puhr,NaN
1977,Carrie Fisher,actress,Princess Leia Organa,3.0
1977,Shelagh Fraser,actress,Aunt Beru,12.0
1977,Christine Hewett,actress,Brea Tonnika,NaN
1977,Annette Jones,actress,Mosep,NaN
1977,Linda Jones,actress,Chall Bekan,NaN
1977,Melissa Kurtz,actress,Jawa,NaN
1977,Tiffany L. Kurtz,actress,Jawa,NaN
1977,Mandy Morton,actress,Swilla Corey,NaN
1977,Pam Rose,actress,Leesub Sirln,NaN
1977,Erica Simmons,actress,Tawss Khaa,NaN
1977,Angela Staines,actress,Senni Tonnika,NaN
1977,Diana Sadley Way,actress,Thuku,NaN

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [79]:
s[s.year == 2007]

          title  year                 name     type          character    n
302112   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1198667  Sleuth  2007             Jude Law    actor               Milo  2.0
1674079  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
240002   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
345982   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2516972  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3095322  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [80]:
ham = cast[(cast.title == 'Hamlet') & (cast.year == 1921)]

In [81]:
len(ham)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [85]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1996) & (cast.name == 'Kenneth Branagh')])

1

### How many "Hamlet" roles have been listed in all film credits through history?

In [87]:
len(cast[(cast.title == 'Hamlet')])

314

### How many people have played an "Ophelia"?

In [94]:
len(cast[(cast.character == 'Ophelia')])

102

### How many people have played a role called "The Dude"?

In [95]:
len(cast[(cast.character == 'The Dude')])

17

### How many people have played a role called "The Stranger"?

In [96]:
len(cast[(cast.character == 'The Stranger')])

204

### How many roles has Sidney Poitier played throughout his career?

In [97]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [98]:
len(cast[cast.name == 'Judi Dench'])

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [102]:
cast[(cast.name == 'Cary Grant') & (cast.n == 2)].sort('year')

/Users/rtindru/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
807976,Madame Butterfly,1932,Cary Grant,actor,Lieutenant B.F. Pinkerton,2.0
807996,She Done Him Wrong,1933,Cary Grant,actor,Captain Cummings,2.0
808014,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0
808006,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0
807970,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0
808015,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0
807951,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0
808000,Sylvia Scarlett,1935,Cary Grant,actor,Jimmy Monkley,2.0
807959,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0
808025,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0
808023,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0
808024,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0
808003,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0
808013,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0
808019,Topper,1937,Cary Grant,actor,George Kerby,2.0
807966,Holiday,1938,Cary Grant,actor,Johnny Case,2.0
807952,Bringing Up Baby,1938,Cary Grant,actor,David,2.0
807971,In Name Only,1939,Cary Grant,actor,Alec Walker,2.0
807983,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
807993,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [103]:
cast[(cast.name == 'Cary Grant') & ((cast.year //10 * 10) == 1940)].sort('year')

/Users/rtindru/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,title,year,name,type,character,n
808010,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
808008,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
807965,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
807983,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
807998,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
807993,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
808012,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
807989,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
807956,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
807981,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
807982,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
807948,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
807990,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
807985,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
807963,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
807984,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
807987,Notorious,1946,Cary Grant,actor,Devlin,1.0
808026,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN
808004,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
808005,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
807980,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
807960,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
807969,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [105]:
len(cast[(cast.year // 10 * 10 == 1950) & (cast.type == 'actor')])

152366

55331

### How many roles were avilable for actresses in the 1950s?

In [107]:
len(cast[(cast.year // 10 * 10 == 1950) & (cast.type == 'actress')])

55331

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [108]:
len(cast[(cast.year // 10 * 10 <= 1980) & (cast.n == 1)])

74404

### How many non-leading roles were available through from the beginning of film history through 1980?

In [109]:
len(cast[(cast.year // 10 * 10 <= 1980) & (cast.n != 1)])

1321157

1395561

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [114]:
len(cast[(cast.year // 10 * 10 <= 1980) & (cast.n.isnull())])

475772