In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/Users/rtindru/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [10]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    0.868819
b    0.109662
c   -0.290867
d    1.290348
e   -0.369194
dtype: float64

In [28]:
# print s[0]
# print s['a']
# print s[:3]
# print s
print s[s> s.median()]
print s[[-1, 3, 4]]

a    0.868819
d    1.290348
dtype: float64
e   -0.369194
d    1.290348
e   -0.369194
dtype: float64

In [30]:
print s[1:]
print s[:-1]
print s[1:] + s[:-1]

b    0.109662
c   -0.290867
d    1.290348
e   -0.369194
dtype: float64
a    0.868819
b    0.109662
c   -0.290867
d    1.290348
dtype: float64
a         NaN
b    0.219324
c   -0.581735
d    2.580696
e         NaN
dtype: float64

In [36]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [38]:
print df.index
print df.columns

Index([u'a', u'b', u'c', u'd'], dtype='object')
Index([u'one', u'two'], dtype='object')

In [39]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [40]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [47]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}

In [48]:
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [51]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [57]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd',], columns=['one', 'two', 'twn'])

   one  two  twn
a  1.0  4.0  NaN
b  2.0  3.0  NaN
c  3.0  2.0  NaN
d  4.0  1.0  NaN

In [58]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [63]:
df.insert(1, 'bar', df['one'])
df

ValueError: cannot insert bar, already exists

In [64]:
df

   one  bar  foobar  two
a  1.0  1.0     1.0  1.0
b  2.0  2.0     2.0  2.0
c  3.0  3.0     3.0  3.0
d  NaN  NaN     NaN  4.0

In [62]:
df.insert(2, 'foobar', df['one'])

ValueError: cannot insert foobar, already exists

In [65]:
df

   one  bar  foobar  two
a  1.0  1.0     1.0  1.0
b  2.0  2.0     2.0  2.0
c  3.0  3.0     3.0  3.0
d  NaN  NaN     NaN  4.0

In [67]:
s = pd.Series([1, 3, np.NAN, 123])

In [68]:
s

0      1.0
1      3.0
2      NaN
3    123.0
dtype: float64

In [70]:
pd.Series(1, index=list(range(14)), dtype='float32')

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
dtype: float32

In [72]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [73]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [77]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [78]:
df
df.head()

                   A         B         C         D
2013-01-01  0.535747 -0.777614  1.330172  0.102922
2013-01-02  0.828950  1.388023  0.446005  0.721026
2013-01-03  0.930997 -1.526289  0.297304  0.903726
2013-01-04 -0.057926  1.262020 -0.731649 -1.937220
2013-01-05 -0.738041  2.594278  1.158566  0.657268

In [79]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.096773  0.389500  0.378006 -0.088328
std    0.797186  1.589822  0.791317  1.134996
min   -0.919086 -1.526289 -0.731649 -1.937220
25%   -0.568012 -0.734064 -0.099943 -0.707535
50%    0.238910  0.329302  0.371654  0.380095
75%    0.755649  1.356522  0.980426  0.705086
max    0.930997  2.594278  1.330172  0.903726

In [82]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.102922  1.330172 -0.777614  0.535747
2013-01-02  0.721026  0.446005  1.388023  0.828950
2013-01-03  0.903726  0.297304 -1.526289  0.930997
2013-01-04 -1.937220 -0.731649  1.262020 -0.057926
2013-01-05  0.657268  1.158566  2.594278 -0.738041
2013-01-06 -0.977687 -0.232359 -0.603415 -0.919086

In [83]:
df

                   A         B         C         D
2013-01-01  0.535747 -0.777614  1.330172  0.102922
2013-01-02  0.828950  1.388023  0.446005  0.721026
2013-01-03  0.930997 -1.526289  0.297304  0.903726
2013-01-04 -0.057926  1.262020 -0.731649 -1.937220
2013-01-05 -0.738041  2.594278  1.158566  0.657268
2013-01-06 -0.919086 -0.603415 -0.232359 -0.977687

AttributeError: 'DataFrame' object has no attribute 'axis'